<h2>Fornecedores</h2>
<a href="/"><button class="main-btn">voltar</button></a>
<form id="editar-fornecedor">
    <input type="hidden" name="inId" id="inId" value="<%= fornecedor.Forn_id %>">
    <div>
        <label for="inNome">Nome:</label>
        <input type="text" id="inNome" required value="<%= fornecedor.Forn_nome %>">
    </div>
    <div>
        <input type="submit" value="Editar" class="main-btn">
    </div>
</form>
<script src="/js/editarFornecedor.js"></script>
