<h2>Cadastrar</h2>
<div class="buttons">
    <a href="/produto">
        <button class="main-btn">Produtos</button>
    </a>
    <a href="/fornecedor">
        <button class="main-btn">Fornecedores</button>
    </a>
    <a href="/compra">
        <button class="main-btn">Compra</button>
    </a>
</div>
