<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <h1>Cadastrar</h1>
    <a href="/produto"><button>Produto</button></a>
    <a href="/fornecedor"><button>Fornecedor</button></a>
</body>
</html>