<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <h1>Cadastrar</h1>
    <button><a href="/produto">Produtos</a></button>
    <button><a href="/fornecedor">Fornecedores</a></button>
    <button><a href="/compra">Compra</a></button>
</body>
</html>